#container {width: 320px;height: 568px;position: absolute; top: 0;bottom: 0;left: 0;right: 0;margin:auto; overflow: hidden;}
.start {width: 320px;height: 568px;background: url(../image/start_bg.png) no-repeat;}
.main {width: 320px;height: 568px;background: url(../image/bg.png) no-repeat; display: none;}